[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/hallison/vim-markdown
[submodule "ciscoasa.vim"]
	path = ciscoasa.vim
	url = https://github.com/vim-scripts/ciscoasa.vim
[submodule "html5-syntax.vim"]
	path = html5-syntax.vim
	url = https://github.com/othree/html5-syntax.vim
[submodule "vim-json"]
	path = vim-json
	url = https://github.com/elzr/vim-json
[submodule "glsl.vim"]
	path = glsl.vim
	url = https://github.com/vim-scripts/glsl.vim
[submodule "jQuery"]
	path = jQuery
	url = https://github.com/vim-scripts/jQuery
[submodule "cocoa.vim"]
	path = cocoa.vim
	url = https://github.com/msanders/cocoa.vim
[submodule "vim-git"]
	path = vim-git
	url = https://github.com/tpope/vim-git
[submodule "vim-toml"]
	path = vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "mojo.vim"]
	path = mojo.vim
	url = https://github.com/yko/mojo.vim
[submodule "vim-javascript-syntax"]
	path = vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "vim-perl"]
	path = vim-perl
	url = https://github.com/vim-perl/vim-perl
[submodule "vim-perl-variable-highlighter"]
	path = vim-perl-variable-highlighter
	url = https://github.com/mannih/vim-perl-variable-highlighter
[submodule "bufexplorer.zip"]
	path = bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip
[submodule "Align.vim"]
	path = Align.vim
	url = https://github.com/spicyjack/Align
[submodule "taglist.vim"]
	path = taglist.vim
	url = https://github.com/spicyjack/taglist.vim
[submodule "TaskList.vim"]
	path = TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim
[submodule "syntax-dosini.vim"]
	path = syntax-dosini.vim
	url = https://github.com/xuhdev/syntax-dosini.vim
[submodule "spicyjacks_plugins.vim"]
	path = spicyjacks_plugins.vim
	url = https://github.com/spicyjack/plugins.vim.git
[submodule "plantuml-syntax"]
	path = plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "pgsql.vim"]
	path = pgsql.vim
	url = https://github.com/exu/pgsql.vim
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "php.vim"]
	path = php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-swift"]
	path = vim-swift
	url = https://github.com/kballard/vim-swift
[submodule "vim-gitignore"]
	path = vim-gitignore
	url = https://github.com/gisphm/vim-gitignore.git
[submodule "applescript.vim"]
	path = applescript.vim
	url = https://github.com/Tyilo/applescript.vim.git
[submodule "dhcpd.vim"]
	path = dhcpd.vim
	url = spicyjack:vim-scripts/dhcpd.vim.git
[submodule "nginx.vim"]
	path = nginx.vim
	url = https://github.com/chr4/nginx.vim.git
